{% extends 'base.html' %}

{% block body %}
  <h1>
    <img src='{{person.avatar_url}}.png?d=mm&amp;s=200' width='200' height='200' alt=''> 
    {{person}}
  </h1>
  <dl>
    <dt>Email</dt>
    <dd>{{person.email}}</dd>
    <dt>Role(s)</dt>
    {% if person.roles %}
      {% for role in person.roles %}
        <dd>{{role.name}}</dd>
      {% endfor %}
    {% else %}
      <dd><b>unknown</b></dd>
    {% endif %}
    <dt>Clan</dt>
    {% if person.clan %}
      <dd>{{person.clan}}</dd>
    {% else %}
      <dd><b>unknown</b></dd>
    {% endif %}
    <dt>Manager</dt>
    {% if person.manager %}
      <dd><a href='{% url "person-detail" slug=person.manager.slug %}'>{{person.manager}}</a></dd>
    {% else %}
      <dd><b>unknown</b></dd>
    {% endif %}
    {% if person.manages %}
      <dt>Manages</dt>
      {% for minion in person.manages %}
        <dd><a href='{% url "person-detail" slug=minion.slug %}'>{{minion}}</a></dd>
      {% endfor %}
    {% endif %}
  </dl>

  <h2>On lists</h2>
  <ul>
    {% for m in person.memberships %}
      <li>
        {% if m.role == 'OWNER' %}<b>owns</b>{% endif %}
        <a href='{% url "group-detail" slug=m.group.slug %}'>{{ m.group.name }}</a>
        &lt;{{ m.group.email}}&gt;
      </li>
    {% endfor %}
  </ul>
{% endblock %}
