{% extends 'base.html' %}
{% load render_as %}

{% block body %}
  <h1>
    <img src='{{person.avatar_url}}.png?d=mm&amp;s=200' width='200' height='200' alt=''> 
    {{person}}
  </h1>
  <dl>
    <dt>Email</dt>
    <dd>{{person.email}}</dd>
    <dt>Role(s)</dt>
    {% if person.roles %}
      {% for role in person.roles %}
        <dd>{{role.name}}</dd>
      {% endfor %}
    {% else %}
      <dd><b>unknown</b></dd>
    {% endif %}
    <dt>Team(s)</dt>
    {% if person.teams %}
      {% for team in person.teams %}
        <dd>{{team.name}}</dd>
      {% endfor %}
    {% else %}
      <dd><b>No teams</b></dd>
    {% endif %}
    <dt>Clan</dt>
    {% if person.clan %}
      <dd>{{person.clan}}</dd>
    {% else %}
      <dd><b>unknown</b></dd>
    {% endif %}
    <dt>Manager</dt>
    {% if person.manager %}
      <dd><a href='{% url "person-detail" slug=person.manager.slug %}'>{{person.manager}}</a></dd>
    {% else %}
      <dd><b>unknown</b></dd>
    {% endif %}
    {% if person.manages %}
      <dt>Manages</dt>
      {% for minion in person.manages %}
        <dd><a href='{% url "person-detail" slug=minion.slug %}'>{{minion}}</a></dd>
      {% endfor %}
    {% endif %}
  </dl>

  <h2>Interested in topics</h2>
  <ul>
    {% for list in person.subscribed_topics %}
      <li>{% render_as list clickable %}</li>
    {% endfor %}
  </ul>

  {% if person.memberships_as_owner.count %}
    <h2>Owns lists ({{person.memberships_as_owner.count}})</h2>
    <ul>
      {% for list in person.memberships_as_owner %}
        <li>{% render_as list.group clickable %}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <h2>Subscribed to lists ({{person.memberships_as_member.count}})</h2>
  <ul>
    {% for list in person.memberships_as_member %}
      <li>{% render_as list.group clickable %}</li>
    {% endfor %}
  </ul>
{% endblock %}
